---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} Mark Schaake</p>
</footer>

<style>
	footer {
		max-width: 42rem;
		margin: 0 auto;
		padding: 2rem 1.5rem 3rem;
		text-align: center;
		color: var(--color-gray-500);
		font-size: 0.875rem;
	}

	footer p {
		margin: 0;
	}
</style>
