---
import { GISCUS } from '../consts';

const { repo, repoId, category, categoryId } = GISCUS;
---

<div id="giscus"></div>

<script
	define:vars={{ repo, repoId, category, categoryId }}
	is:inline
>
	const script = document.createElement('script');
	script.src = 'https://giscus.app/client.js';
	script.setAttribute('data-repo', repo);
	script.setAttribute('data-repo-id', repoId);
	script.setAttribute('data-category', category);
	script.setAttribute('data-category-id', categoryId);
	script.setAttribute('data-mapping', 'pathname');
	script.setAttribute('data-strict', '0');
	script.setAttribute('data-reactions-enabled', '1');
	script.setAttribute('data-emit-metadata', '0');
	script.setAttribute('data-input-position', 'bottom');
	script.setAttribute('data-theme', 'preferred_color_scheme');
	script.setAttribute('data-lang', 'en');
	script.setAttribute('data-loading', 'lazy');
	script.setAttribute('crossorigin', 'anonymous');
	script.async = true;

	document.getElementById('giscus').appendChild(script);
</script>
